.Brunch {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 24px;

  .Title {
    background-color: #FED7AA;
    padding: 8px 16px;

    text-align: center;
    text-transform: uppercase;
    color: #2D2C2A;

    font-weight: 700;
    font-size: 22px;

    margin-bottom: 24px;

    line-height: 19px;

  }

  &-menu {
    margin-bottom: 16px;
    display: flex;
  }

  &-details {
    max-width: 240px;
  }

  &-products {
    font-size: 16px;
    font-weight: 700;

    text-transform: uppercase;
    color: #2D2C2A;

    margin-bottom: 10px;
  }

  &-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
  }
}